/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  @apply p-0;
  @apply min-h-screen;
  @apply min-w-full;
  @apply overflow-x-hidden;
  @apply bg-fixed;

  background-image: linear-gradient(
    0deg,
    theme('colors.brand.light'),
    theme('colors.brand.dark')
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
}

a {
  transition: color 0.2s;
}

.top-skew {
  @apply h-32;
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply -mb-28;
  @apply transition-all;

  position: relative;
  z-index: 1;
  grid-column: 1 / -1;
}
.top-skew:after {
  @apply h-20;
  @apply xl:h-32;
  @apply transition-all;

  background: inherit;
  top: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  transform-origin: 100% 0;
  z-index: -1;
}

.bottom-skew {
  @apply h-32;
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply mb-32;
  @apply -mt-28;

  position: relative;
  z-index: 1;
  grid-column: 1 / -1;
}
.bottom-skew:after {
  @apply h-20;
  @apply xl:h-32;

  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

/* purgecss start ignore */
.content-positioning p,
.content-positioning ol,
.content-positioning ul,
.content-positioning h1,
.content-positioning h2,
.content-positioning h3,
.content-positioning h4,
.content-positioning h5,
.content-positioning h6 {
  @apply col-start-3;
}

.content-positioning table,
.content-positioning pre,
.content-positioning div,
.content-positioning blockquote {
  @apply col-start-2;
  @apply col-end-5;
}

.content-positioning img {
  @apply col-start-1;
  @apply col-end-6;
  @apply mx-auto;
}

/* could not find how to overide psuedo classes */
.prose code::before,
.prose code::after,
.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::before {
  content: '' !important;
}

.prose blockquote {
  @apply border-brand-dark;
}

.prose pre {
  padding: 0 !important;
}

/*
Railscasts-like style (c) Visoft, Inc. (Damien White)
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.center-next-image > div {
  @apply mx-auto;
  @apply w-full;
}
/* purgecss end ignore */
